@import url(https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px; }

body {
  background: url(./../images/bg-mobile.svg) #674baf;
  background-repeat: no-repeat;
  margin: 20px 10%;
  display: flex;
  flex-direction: column; }

.logo {
  width: 125px;
  margin-bottom: 65px; }

.illustration {
  max-width: 100%;
  margin-bottom: 3rem; }

.build-community {
  display: flex;
  flex-direction: column;
  align-items: center; }

h1 {
  color: white;
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem; }

p {
  color: white;
  font-family: Open Sans;
  text-align: center;
  margin-bottom: 1.5rem;
  line-height: 1.5rem; }

button {
  background: white;
  text-align: center;
  border: 0;
  font-size: 0.75rem;
  color: #674baf;
  padding: 10px 65px;
  border-radius: 20px;
  font-weight: 400;
  font-family: Poppins;
  margin-bottom: 1.3rem; }

footer {
  padding: 1rem;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

footer p, footer a {
  font-size: 0.7rem; }

footer .icons {
  padding: 15px; }

footer .icons i {
  border: white 0.5px solid;
  border-radius: 50%;
  width: 25px;
  font-size: 14px;
  font-weight: 300;
  padding: 6px;
  color: white;
  margin: 3px; }
