// fonts
@import url(https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);

// colors
$violet: hsl(257, 40%, 49%)
// Breakpoints

// Mobile first approach

* 
    padding: 0
    margin: 0
    box-sizing: border-box
